/* Фірмові кольори та шрифти */
:root {
    --primary-color: #4CAF50;
    --secondary-color: #333;
    --background-color: #f4f4f9;
    --text-color: #333;
}

/* Глобальні стилі */
body {
    font-family: 'Comic Sans MS', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    text-align: center;
}

header .ci-logo {
    width: 60px;
    cursor: pointer;
}

/* Стилі для меню навігації */
.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

.main-nav li {
    margin: 0 15px;
}

.main-nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

.main-nav a:hover {
    background-color: var(--primary-color);
}

/* Стилі для розділів */
main {
    padding: 20px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2em;
    color: var(--primary-color);
}

section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Кнопка для розгортання деталей */
.toggle-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

.toggle-btn:hover {
    background-color: var(--secondary-color);
}

/* Стилі для додаткових деталей */
.details {
    display: none;
    margin-top: 10px;
}

.details.show {
    display: block;
}

/* Стилі для зображення події */
.event-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}
